/*
    CREAM:       rgba(244, 238, 213, 1.0)
    BROWN:       rgba(54, 0, 0, 1.0)
    DARK_RED:    rgba(192, 57, 43, 1.0)
    RED:         rgba(231, 76, 60, 1.0)
    RED2:        rgba(225, 111, 104, 1.0)
    DARK_ORANGE: rgba(230,126,34, 1.0)
    ORANGE:      rgba(243,156,18, 1.0)
*/
body {
    padding-top: 50px;
    background-color: rgba(238, 238, 238, 1.0);
}
a {
    color: rgba(231, 76, 60, 1.0);
}
a:hover {
    color: rgba(231, 76, 60, 1.0);
}
h4 {
    font-size: 20px;
}

.center {
    text-align: center;
}
.brand {
    font-family: 'Gochi Hand', cursive;
}

/* ================================= */
/* ===  Extention for Bootstrap  === */
/* ================================= */

/* ===       navigation bar      === */
.navbar {
    background-color: white;
    /* border-top: solid 3px rgba(231, 76, 60, 1.0); */
    border-bottom: solid 2px rgba(221, 212, 192, 1.0);
}
.navbar-brand {
    color: rgba(231, 76, 60, 1.0);
    font-size: 25px;
}

#toggle-sidebar {
    font-size: 20px;
    color: rgba(231, 76, 60, 1.0);
    float: left;
    margin: 13px 15px 0px 0px;
}

/* ===   side bar  === */
#sidebar {
    background-color: rgba(44, 57, 73, 1.0);
}

#sidebar a.list-group-item .list-group-item-heading {
    color: rgba(236, 240, 241,0.9);
    font-size: 15px;
}

#sidebar .list-group-item {
    background-color: #2f4050;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: solid 1px #34495e;
    border-top: solid 1px #34495e;
    border-left: solid 2px #2f4050;
}

#sidebar .list-group-item:hover {
    border-left: solid 2px rgba(231, 76, 60, 1.0);
    background-color: rgba(44, 57, 73, 1.0);
}

#sidebar .active {
    border-left: solid 2px rgba(231, 76, 60, 1.0);
    background-color: rgba(44, 57, 73, 1.0);
}

/* ===   btn   === */
.btn-primary {
    background-color: rgba(231, 76, 60, 1.0);
    border: solid 1px rgba(255, 255, 255, 0.7);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: rgba(242, 38, 19, 1.0);
    border: solid 1px rgba(255, 255, 255, 1.0);
}


/* ================================= */
/* ===    Original components    === */
/* ================================= */

/* ===     margin / padding      === */
.m-5  { margin: 5px;}
.m-10 { margin: 10px;}
.m-20 { margin: 20px;}
.m-30 { margin: 30px;}

.mt-5  { margin-top: 5px;}
.mt-10 { margin-top: 10px;}
.mt-20 { margin-top: 20px;}
.mt-30 { margin-top: 30px;}

.mb-5  { margin-bottom: 5px;}
.mb-10 { margin-bottom: 10px;}
.mb-20 { margin-bottom: 20px;}
.mb-30 { margin-bottom: 30px;}

.ml-5  { margin-left: 5px;}
.ml-10 { margin-left: 10px;}
.ml-20 { margin-left: 20px;}
.ml-30 { margin-left: 30px;}



/* ===   others   === */
.attention {
    color: rgba(231, 76, 60, 1.0);
    font-weight: bold;
}
.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    box shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}
.ribbon-red span {
    background-color: rgba(225, 111, 104, 1.0);
}
.ribbon-orange span {
    background-color: rgba(243,156,18, 1.0);
}
.text-blue {
    color: blue;
}
.text-red {
    color: red;
}
.headline {
    /* float: left; */
    width: 100%;
    font-size: 20px;
    color: rgba(231, 76, 60, 1.0);
    padding: 5px 10px;
    font-weight: bold;
    margin: 10px 0px;
}

.main-component {
    margin-top: 20px;
}
.main-component .row{
    border-top: solid 3px rgba(231, 76, 60, 1.0);
    /* border-left: solid 5px rgba(231, 76, 60, 1.0); */
    margin-bottom: 10px;
    background-color: white;
    border-bottom: solid 2px rgba(221, 212, 192, 1.0);
}


