/*
    CREAM:       rgba(244, 238, 213, 1.0)
    BROWN:       rgba(54, 0, 0, 1.0)
    DARK_RED:    rgba(192, 57, 43, 1.0)
    RED:         rgba(231, 76, 60, 1.0)
    RED2:        rgba(225, 111, 104, 1.0)
    DARK_ORANGE: rgba(230,126,34, 1.0)
    ORANGE:      rgba(243,156,18, 1.0)
*/
body {
    padding-top: 50px;
    background-color: rgba(238, 238, 238, 1.0);
}
.center {
    text-align: center;
}
.brand {
    font-family: 'Gochi Hand', cursive;
}

/* ================================= */
/* ===  Extention for Bootstrap  === */
/* ================================= */

/* ===       navigation bar      === */
.navbar {
    background-color: white;
    /* border-top: solid 3px rgba(231, 76, 60, 1.0); */
    border-bottom: solid 2px rgba(221, 212, 192, 1.0);
}
.navbar-brand {
    color: rgba(231, 76, 60, 1.0);
    font-size: 25px;
}

#toggle-sidebar {
    font-size: 20px;
    color: rgba(231, 76, 60, 1.0);
    float: left;
    margin: 13px 15px 0px 0px;
}

/* ===   btn   === */
.btn-primary {
    background-color: rgba(231, 76, 60, 1.0);
    border: solid 1px rgba(255, 255, 255, 0.7);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: rgba(242, 38, 19, 1.0);
    border: solid 1px rgba(255, 255, 255, 1.0);
}


/* ================================= */
/* ===    Original components    === */
/* ================================= */

/* ===     margin / padding      === */
.m-5  { margin: 5px;}
.m-10 { margin: 10px;}
.m-20 { margin: 20px;}
.m-30 { margin: 30px;}

.mt-5  { margin-top: 5px;}
.mt-10 { margin-top: 10px;}
.mt-20 { margin-top: 20px;}
.mt-30 { margin-top: 30px;}

.mb-5  { margin-bottom: 5px;}
.mb-10 { margin-bottom: 10px;}
.mb-20 { margin-bottom: 20px;}
.mb-30 { margin-bottom: 30px;}

.ml-5  { margin-left: 5px;}
.ml-10 { margin-left: 10px;}
.ml-20 { margin-left: 20px;}
.ml-30 { margin-left: 30px;}



/* ===   others   === */
.attention {
    color: rgba(231, 76, 60, 1.0);
    font-weight: bold;
}
.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
