.landing-header {
    width:100%;
    background-image:url('/img/osushi-top.jpg');
    background-position: center center;
    background-size:cover;
}

.landing-header-inner {
    color: rgba(231, 76, 60, 1.0);
    padding: 100px 0px 50px 0px;
    background-color: rgba(247, 243, 232, 0.8);
}
